






.header_bg {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
}

image {
	display: block;
	/* margin: 0 auto;
	width: 100%; */
}

.search_box {
	border-radius: 999px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, .5);
	height: 60upx;
}

.jus-spB {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.jus-spA {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.jus-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.jus-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.jus-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.jus-spB-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex_warp {
	flex-wrap: wrap;
}

.margin-right {
	margin-right: 20upx;
}

.margin-left {
	margin-left: 20upx;
}

.text-fff {
	color: #fff;
}

.inline_block {
	display: inline-block;
}

.text-tips {
	color: #909399;
}

.text-main {
	color: #303133
}

.text-content {
	color: #606266;
}

.text-light {
	color: #c0c4cc;
}

.text-bold {
	font-weight: bold;
}

.zindex_1071 {
	z-index: 1071;
	position: relative;
}

.one_ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.padding_0_30 {
	padding: 0 30upx;
}

.posName {
	max-width: 160upx;
}

.ellipsis-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}

.padding_20upx {
	padding: 20upx;
}

.padding_20upx_0 {
	padding: 20upx 0;
}

/* tab */
.tab_view_box {
	display: flex;
	width: 100%;
	padding: 20upx;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 32upx;
}

.tab_view_item {
	text-align: center;
}

.tab_view_img {
	width: 50upx;
	height: 20upx;
	display: block;
	margin: 0 auto;
	margin-top: 10upx;
}
.text-ff6f9c{
	color: #ff6f9c;
}
.onDataViewImg{
	display: block;
	width: 400upx;
	height: 318upx;
	margin: 30upx auto;
}
.text-FF6F9C{
	color: #FF6F9C;
}
.bgc_fff{
	background-color: #fff;
}
.border_radius_10{
	border-radius: 10upx;
}
.border_radius_20{
	border-radius: 20upx;
}